*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
it is the universal tab to change style fully.
*/
.box{
    width: 600px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-bottom: 30px;
    border-top: 30px;
    border-left: 30px;
    border-right: 30px;
    margin-top: 40px;
    margin-bottom: 25px;
    margin-right: 40px;
    margin-left: 40px;
}
/*
By using padding margin and border we can adjust the position of the box within the page
*/
.container{
height: auto;
background-color: orange;
width: auto;
overflow: scroll;
/*
The container is the tag used to create other tags like overflow and for maintaining the page,
and overflow is used to create ascroll bar and to hide it.
*/
}
.box2{
    margin-top: 70px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    border-bottom: 40px;
    border-top: 40px;
    border-left: 40px;
    border-right: 40px;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-right: 20px;
    margin-left: 20px;
}
p.box{
    content:"All HTML elements displayed in the browser are drawn in a box shape.Each ‘box’ has a top, right, bottom and left, a central content area surrounded by an area of padding, then a border, then an outer margin area CSS can target these sides to manipulate elements in various ways (adding padding, margins, borders, images and colours inside the content)";
}
/*